apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: purchasing-flow
spec:
  selector:
    app: inventory-service
  ports:
  - protocol: TCP
    port: 8082
    targetPort: 8082
  type: ClusterIP
